* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary--color: #d7f5dc;
  --second--color: #20b15a;
  --third--color: #f55f1d;
}

.margin-main {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

header {
  background-color: var(--primary--color);
  width: 100%;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding-bottom: 40px;
}
header .menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu .logo a {
  text-decoration: none;
  color: black;
}
header .menu .logo strong {
  color: var(--third--color);
}
header .menu .logo h1 {
  font-weight: 700;
  font-size: 22px;
}
header .menu .menu-lateral nav {
  width: 100%;
}
header .menu .menu-lateral nav li {
  list-style-type: none;
}
header .menu .menu-lateral nav ul {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu .menu-lateral nav ul span {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}
header .menu .menu-lateral nav ul span button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 11.4625px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--second--color);
  color: black;
}
header .menu .menu-lateral nav ul span button:nth-child(2) {
  background-color: var(--second--color);
  color: white;
}
header .menu .menu-lateral nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 790px) {
  header .menu .menu-lateral nav {
    display: none;
  }
}
header .menu .menu-lateral .menu-mobile {
  display: none;
}
header .menu .menu-lateral .menu-mobile button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}
header .menu .menu-lateral .menu-mobile button hr {
  margin-top: 2px;
  padding: 1.5px;
  background-color: black;
}
@media screen and (max-width: 790px) {
  header .menu .menu-lateral .menu-mobile {
    display: block;
  }
}
header .h-body {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
header .h-body .box-text {
  width: 70%;
}
header .h-body .box-text h1 {
  font-size: 45px;
  font-weight: 700;
}
header .h-body .box-text h4 {
  font-size: 19px;
  font-weight: 500;
}
header .h-body .box-text button {
  cursor: pointer;
  margin-top: 20px;
  width: 190px;
  height: 70px;
  border-radius: 18px;
  background-color: var(--second--color);
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  border: none;
}
header .h-body .woman {
  width: 770px;
  height: 500px;
}
header .h-body .woman img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1092px) {
  header .h-body .box-text h1 {
    font-size: 40px;
  }
  header .h-body .box-text h4 {
    font-size: 15px;
  }
  header .h-body .box-text button {
    width: 180px;
    height: 60px;
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  header .h-body {
    flex-direction: column;
    align-items: center;
  }
  header .h-body .box-text {
    text-align: center;
    width: 100%;
  }
  header .h-body .woman {
    text-align: center;
    padding-top: 10px;
    width: 90%;
    height: 550px;
  }
}
@media screen and (max-width: 600px) {
  header .h-body .woman {
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  header .h-body .woman {
    height: 390px;
  }
}
@media screen and (max-width: 400px) {
  header .h-body .woman {
    height: 300px;
  }
}
header .bloco-apps {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
  justify-content: center;
}
header .bloco-apps .apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header .bloco-apps .apps img {
  width: 110px;
  height: 55px;
  padding-left: 10px;
}

main {
  font-family: "Poppins", sans-serif;
}
main .main-top {
  padding-top: 50px;
  width: 90%;
}
main .main-top .title-main-top h3 {
  font-size: 18px;
  color: var(--second--color);
  font-weight: 500;
}
main .main-top .title-main-top h2 {
  padding-top: 15px;
  font-size: 28px;
  font-weight: 600;
}
main .main-top .box-1-main-top {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  /*  @media  screen and (max-width: 810px){
     .box-1{
       align-items: center;
     }

   } */
}
main .main-top .box-1-main-top .box-1 {
  width: 360px;
  height: 390px;
  padding: 30px;
}
main .main-top .box-1-main-top .box-1 .icons-box-1 {
  background-color: var(--primary--color);
  background-image: url(../img/icons/Activity.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
main .main-top .box-1-main-top .box-1 h3 {
  padding-top: 15px;
  font-weight: 600;
  font-size: 24px;
}
main .main-top .box-1-main-top .box-1 p {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 400;
}
main .main-top .box-1-main-top .box-1 a {
  display: flex;
  align-items: center;
  margin-top: 65px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 400;
}
main .main-top .box-1-main-top .box-1 a:hover {
  color: var(--third--color);
}
main .main-top .box-1-main-top .box-2 .icons-box-1 {
  background-image: url(../img/icons/Heart.svg);
  background-size: 80px;
}
main .main-top .box-1-main-top .box-3 .icons-box-1 {
  background-image: url(../img/icons/Work.svg);
}
main .main-top .box-two-main {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 50px; */
}
main .main-top .box-two-main .box-two {
  padding: 30px;
  text-align: center;
}
main .main-top .box-two-main .box-two img {
  width: 60px;
}
main .main-top .box-two-main .box-two p {
  font-size: 16px;
  font-weight: 500;
}
main .main-top .box-two-main .box-two h1 {
  padding-top: 10px;
  font-weight: 600;
  color: var(--second--color);
  font-size: 38px;
}
main .main-mid {
  padding-top: 40px;
  width: 90%;
}
main .main-mid h3 {
  font-size: 18px;
  color: var(--second--color);
  font-weight: 500;
}
main .main-mid h2 {
  padding-top: 15px;
  font-size: 28px;
  font-weight: 600;
}
main .main-mid .portfolio-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
}
main .main-mid .portfolio-main .column {
  width: 550px;
  /*  height: 496.36px; */
}
main .main-mid .portfolio-main .column .box-portfolio {
  width: 100%;
  padding-top: 50px;
}
main .main-mid .portfolio-main .column .box-portfolio h3 {
  padding-top: 30px;
  font-size: 22px;
  font-weight: 600;
  color: black;
}
main .main-mid .portfolio-main .column .box-portfolio p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
}
main .main-mid .portfolio-main .column .box-portfolio img {
  width: 100%;
}
main .main-mid .main-final-top {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .main-mid .main-final-top .title-main-final h3 {
  font-size: 18px;
  color: var(--second--color);
  font-weight: 500;
}
main .main-mid .main-final-top .title-main-final h2 {
  padding-top: 15px;
  font-size: 28px;
  font-weight: 600;
}
main .main-mid .main-final-top .btn-l {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
main .main-mid .main-final-top .btn-l button {
  cursor: pointer;
  text-align: center;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  border: none;
  background-color: var(--primary--color);
}
main .main-mid .main-final-top .btn-l button:nth-child(1) {
  border: 1px solid black;
  background-color: #ffffff;
}
main .main-mid .main-final-top .btn-l button i {
  color: black;
  font-weight: 900;
  font-size: 22px;
}
main .main-mid .carrossel-box {
  overflow-x: scroll;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
main .main-mid .carrossel-box .box-c {
  flex: 0 0 auto;
  margin: 30px;
  padding: 40px;
  width: 460px;
  height: 240px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
main .main-mid .carrossel-box .box-c p {
  font-size: 16px;
  font-weight: 400;
}
main .main-mid .carrossel-box .box-c .perfil {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
main .main-mid .carrossel-box .box-c .perfil img {
  border-radius: 30px;
  background-color: #d7f5dc;
}
main .main-mid .carrossel-box .box-c .perfil h4 {
  padding-left: 5px;
}
main .main-mid .footer-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main-mid .footer-main .box-subscribe {
  margin-top: 50px;
  width: 600px;
  padding-top: 70px;
  text-align: center;
}
main .main-mid .footer-main .box-subscribe p {
  font-size: 15px;
  color: #8b8b8b;
}
main .main-mid .footer-main .box-subscribe form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  padding: 3px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
}
main .main-mid .footer-main .box-subscribe form input {
  border-radius: 100px;
  padding-left: 10px;
  border: none;
  width: 100%;
}
main .main-mid .footer-main .box-subscribe form input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
main .main-mid .footer-main .box-subscribe form button {
  cursor: pointer;
  border: none;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: #f55f1d;
  border-radius: 15px;
  color: #ffffff;
  font-size: 15px;
}

footer {
  padding-bottom: 10px;
  margin-top: 120px;
  background-color: #00ca72;
  font-family: "Poppins", sans-serif;
}
footer .footer-final {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
footer .footer-final .web-logo {
  width: 100%;
}
footer .footer-final .web-logo h1 {
  padding-left: 10px;
  font-size: 35px;
  font-weight: 700;
}
footer .footer-final .web-logo p {
  padding-left: 5px;
  font-size: 16px;
}
footer .footer-final .web-logo nav {
  padding-top: 10px;
  width: 100%;
}
footer .footer-final .web-logo nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  gap: 8px;
}
footer .footer-final .web-logo nav ul li button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: var(--second--color);
  border-radius: 100px;
  border: none;
}
footer .footer-final .web-logo nav ul li button img {
  text-align: center;
}
footer .footer-final .web-logo h5 {
  padding-top: 50px;
  font-weight: 500;
  font-size: 18px;
}
footer .footer-final .quick-links {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-final .quick-links h4 {
  padding-left: 8px;
  font-size: 18px;
  font-weight: 600;
}
footer .footer-final .quick-links ul {
  list-style-type: none;
}
footer .footer-final .quick-links ul li {
  padding-top: 18px;
}
footer .footer-final .quick-links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}
footer .footer-final .address {
  width: 100%;
  padding-top: 15px;
}
footer .footer-final .address h4 {
  font-size: 18px;
  font-weight: 600;
}
footer .footer-final .address p {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  footer .footer-final {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-final .web-logo {
    text-align: center;
  }
  footer .footer-final .web-logo nav ul {
    justify-content: center;
    text-align: center;
  }
  footer .footer-final .quick-links {
    text-align: center;
  }
  footer .footer-final .address {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */