* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary--color: #d7f5dc;
  --second--color: #20b15a;
  --third--color: #f55f1d;
}

.margin-main {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}
header {
  background-color: var(--primary--color);

  width: 100%;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding-bottom: 40px;

  .menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
        color: black;
      }
      strong {
        color: var(--third--color);
      }
      h1 {
        font-weight: 700;
        font-size: 22px;
      }
    }
    .menu-lateral {
      nav {
        width: 100%;

        li {
          list-style-type: none;
        }
        ul {
          gap: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            gap: 20px;
            display: flex;
            justify-content: space-between;

            button {
              cursor: pointer;
              width: 100px;
              height: 50px;
              border-radius: 11.4625px;
              background-color: transparent;
              font-size: 18px;
              font-weight: 500;
              border: 1px solid var(--second--color);
              color: black;
              &:nth-child(2) {
                background-color: var(--second--color);
                color: white;
              }
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 18px;
        }
        @media screen and (max-width: 790px) {
          display: none;
        }
      }
      .menu-mobile {
        display: none;

        button {
          cursor: pointer;
          background-color: transparent;
          border: 0;

          width: 30px;
          height: 30px;
          hr {
            margin-top: 2px;
            padding: 1.5px;
            background-color: black;
          }
        }

        @media screen and (max-width: 790px) {
          display: block;
        }
      }
    }
  }
  .h-body {
    margin-top: 50px;
    display: flex;
    align-items: center;
    .box-text {
      width: 70%;
      h1 {
        font-size: 45px;
        font-weight: 700;
      }
      h4 {
        font-size: 19px;
        font-weight: 500;
      }
      button {
        cursor: pointer;
        margin-top: 20px;
        width: 190px;
        height: 70px;
        border-radius: 18px;
        background-color: var(--second--color);
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        border: none;
      }
    }
    .woman {
      width: 770px;
      height: 500px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: 1092px) {
      .box-text {
        h1 {
          font-size: 40px;
        }
        h4 {
          font-size: 15px;
        }
        button {
          width: 180px;
          height: 60px;
          font-size: 18px;
        }
      }
    }
    @media screen and (max-width: 790px) {
      flex-direction: column;
      align-items: center;

      .box-text {
        text-align: center;
        width: 100%;
      }
      .woman {
        text-align: center;
        padding-top: 10px;
        width: 90%;
      }
    }

    @media screen and (max-width: 600px) {
      .woman {
        height: 450px;
      }
    }
    @media screen and (max-width: 500px) {
      .woman {
        height: 390px;
      }
    }

    @media screen and (max-width: 400px) {
      .woman {
        height: 300px;
      }
    }
  }

  .bloco-apps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    justify-content: center;
    .apps {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      img {
        width: 110px;
        height: 55px;
        padding-left: 10px;
      }
    }
  }
}
main {
  font-family: "Poppins", sans-serif;
  .main-top {
    padding-top: 50px;
    width: 90%;
    .title-main-top {
      h3 {
        font-size: 18px;
        color: var(--second--color);
        font-weight: 500;
      }
      h2 {
        padding-top: 15px;
        font-size: 28px;
        font-weight: 600;
      }
    }
    .box-1-main-top {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      .box-1 {
        width: 360px;
        height: 390px;

        padding: 30px;
        .icons-box-1 {
          background-color: var(--primary--color);
          background-image: url(../img/icons/Activity.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 30px 30px;
          width: 80px;
          height: 80px;
          border-radius: 20px;
        }
        h3 {
          padding-top: 15px;
          font-weight: 600;
          font-size: 24px;
        }
        p {
          padding-top: 15px;
          font-size: 18px;
          font-weight: 400;
        }
        a {
          display: flex;
          align-items: center;
          margin-top: 65px;
          padding-left: 20px;
          text-decoration: none;
          color: black;
          font-size: 18px;
          font-weight: 400;
          &:hover {
            color: var(--third--color);
          }
        }
      }
      .box-2 {
        .icons-box-1 {
          background-image: url(../img/icons/Heart.svg);
          background-size: 80px;
        }
      }
      .box-3 {
        .icons-box-1 {
          background-image: url(../img/icons/Work.svg);
        }
      }
    }

    .box-two-main {
      padding: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* gap: 50px; */

      .box-two {
        padding: 30px;
        text-align: center;
        img {
          width: 60px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
        }
        h1 {
          padding-top: 10px;
          font-weight: 600;
          color: var(--second--color);
          font-size: 38px;
        }
      }
    }
  }

  .main-mid {
    padding-top: 40px;
    width: 90%;

    h3 {
      font-size: 18px;
      color: var(--second--color);
      font-weight: 500;
    }
    h2 {
      padding-top: 15px;
      font-size: 28px;
      font-weight: 600;
    }
    .portfolio-main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      padding-top: 20px;
      .column {
        width: 550px;
        /*  height: 496.36px; */
        .box-portfolio {
          width: 100%;
          padding-top: 50px;
          h3 {
            padding-top: 30px;
            font-size: 22px;
            font-weight: 600;
            color: black;
          }
          p {
            padding-top: 15px;
            font-weight: 400;
            font-size: 14px;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .main-final-top {
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .title-main-final {
        h3 {
          font-size: 18px;
          color: var(--second--color);
          font-weight: 500;
        }
        h2 {
          padding-top: 15px;
          font-size: 28px;
          font-weight: 600;
        }
      }
      .btn-l {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        button {
          cursor: pointer;
          text-align: center;
          width: 65px;
          height: 65px;
          border-radius: 100px;
          border: none;
          background-color: var(--primary--color);
          &:nth-child(1) {
            border: 1px solid black;
            background-color: #ffffff;
          }
          i {
            color: black;
            font-weight: 900;
            font-size: 22px;
          }
        }
      }
    }
    .carrossel-box {
      overflow-x: scroll;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;

      .box-c {
        flex: 0 0 auto;
        margin: 30px;
        padding: 40px;
        width: 460px;
        height: 240px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        p {
          font-size: 16px;
          font-weight: 400;
        }
        .perfil {
          display: flex;
          align-items: center;
          margin-top: 15px;
          img {
            border-radius: 30px;
            background-color: #d7f5dc;
          }
          h4 {
            padding-left: 5px;
          }
        }
      }
    }
    .footer-main {
      width: 100%;
      display: flex;
      justify-content: center;
      .box-subscribe {
        width: 600px;
        padding-top: 70px;
        text-align: center;
        p {
          font-size: 15px;
          color: #8b8b8b;
        }
        form {
          width: 100%;
          display: flex;
          padding: 3px;
          justify-content: space-between;
          border: 1px solid black;
          border-radius: 15px;
          
          input {
            padding-left: 10px;
            border: none;
            width: 100%;
            &:focus {
              box-shadow: 0 0 0 0;
              outline: 0;
            }
          }
          button {
            border: none;
            width: 150px;
            height: 50px;
            text-align: center;
            background-color: #f55f1d;
            border-radius: 15px;
            color: #ffffff;
            font-size: 15px;
          }
        }
      }
    }
  }
  
}
