* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary--color: #d7f5dc;
  --second--color: #20b15a;
  --third--color: #f55f1d;
}

.margin-main {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}
header {
  background-color: var(--primary--color);

  width: 100%;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding-bottom: 40px;

  .menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
        color: black;
      }
      strong {
        color: var(--third--color);
      }
      h1 {
        font-weight: 700;
        font-size: 22px;
      }
    }
    .menu-lateral {
      nav {
        width: 100%;

        li {
          list-style-type: none;
        }
        ul {
          gap: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            gap: 20px;
            display: flex;
            justify-content: space-between;

            button {
              cursor: pointer;
              width: 100px;
              height: 50px;
              border-radius: 11.4625px;
              background-color: transparent;
              font-size: 18px;
              font-weight: 500;
              border: 1px solid var(--second--color);
              color: black;
              &:nth-child(2) {
                background-color: var(--second--color);
                color: white;
              }
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 18px;
        }
        @media screen and (max-width: 790px) {
          display: none;
        }
      }
      .menu-mobile {
        display: none;

        button {
          cursor: pointer;
          background-color: transparent;
          border: 0;

          width: 30px;
          height: 30px;
          hr {
            margin-top: 2px;
            padding: 1.5px;
            background-color: black;
          }
        }

        @media screen and (max-width: 790px) {
          display: block;
        }
      }
    }
  }
  .h-body {
    margin-top: 50px;
    display: flex;
    align-items: center;
    .box-text {
      width: 70%;
      h1 {
        font-size: 45px;
        font-weight: 700;
      }
      h4 {
        font-size: 19px;
        font-weight: 500;
      }
      button {
        cursor: pointer;
        margin-top: 20px;
        width: 190px;
        height: 70px;
        border-radius: 18px;
        background-color: var(--second--color);
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        border: none;
      }
    }
    .woman {
      width: 770px;
      height: 500px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: 1092px) {
      .box-text {
        h1 {
          font-size: 40px;
        }
        h4 {
          font-size: 15px;
        }
        button {
          width: 180px;
          height: 60px;
          font-size: 18px;
        }
      }
    }
    @media screen and (max-width: 790px) {
      flex-direction: column;
      align-items: center;

      .box-text {
        text-align: center;
        width: 100%;
      }
      .woman {
        text-align: center;
        padding-top: 10px;
        width: 90%;
      }
    }

    @media screen and (max-width: 600px) {
      .woman {
        height: 450px;
      }
    }
    @media screen and (max-width: 500px) {
      .woman {
        height: 390px;
      }
    }

    @media screen and (max-width: 400px) {
      .woman {
        height: 300px;
      }
    }
  }

  .bloco-apps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    .apps {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      img {
        width: 110px;
        height: 55px;
        padding-left: 10px;
      }
    }
  }
}
main {
  font-family: "Poppins", sans-serif;
  .main-top {
    padding-top: 50px;
    .title-main-top {
      h3 {
        font-size: 18px;
        color: var(--second--color);
        font-weight: 500;
      }
      h2 {
        padding-top: 15px;
        font-size: 28px;
        font-weight: 600;
      }
    }
    .box-1-main-top {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      .box-1 {

        width: 360px;
        height: 415px;

        padding: 30px;
        .icons-box-1 {
          background-color: var(--primary--color);
          background-image: url(../img/icons/Activity.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 30px 30px;
          width: 80px;
          height: 80px;
          border-radius: 20px;
        }
        h3{
          padding-top: 15px;
          font-weight: 600;
          font-size: 24px;

        }
        p{
          padding-top: 15px;
          font-size: 18px;
          font-weight: 400;
        }
        a{
          
          display: flex;
          align-items: center;
          padding-top: 60px;
          padding-left: 20px;
          text-decoration: none;
          color: black;
          font-size: 18px;
          font-weight: 400;       
        }
       
      }
      .box-2 {
        
        .icons-box-1 {
          background-image: url(../img/icons/Heart.svg);
          background-size: 80px;
        }
      }
      .box-3 {
       
        .icons-box-1 {
          background-image: url(../img/icons/Work.svg);
        }
      }
      
    }
  }
}
